# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
1.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
1.exec

# misc
.DS_Store


